body {
    .main-container {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        box-sizing: border-box;
        .container {
            width: 100%;
            .top {
                min-width: 50%;
                .box {
                    display: block;
                    width: 100%;
                    margin-top: 40px;
                    // margin-bottom: 40px;
                    .form-control-custom {
                        text-align: center;
                        width: 100%;
                        .form-search {
                            font-family: 'Open Sans', sans-serif;
                            font-size: 14px;
                            font-weight: 400;
                            max-width: 370px;
                            width: 100%;
                            padding: 6px 8px;
                            // outline: none;
                            border: none;
                            box-sizing: border-box;
                        }
                    }
                    .list {
                        display: flex;
                        width: 100%;
                        margin-bottom: 400px;
                        .cards-box {
                            position: relative;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            width: 100%;
                            // &:after {
                            //     content: '';
                            //     position: absolute;
                            //     width: 100%;
                            //     height: 87px;
                            //     left: 0;
                            //     bottom: 0;
                            //     background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
                            // }
                            .card {
                                width: 20%;
                                max-width: 270px;
                                padding: 14px 12px;
                                border: 1px solid rgba(0,0,0,0.1);
                                border-radius: 3px;
                                margin-bottom: 30px;
                                box-sizing: border-box;
                                cursor: pointer;
                                .top {
                                    display: block;
                                    position: relative;
                                    & > p {
                                        // display: inline-block !important;
                                        text-align: center;
                                        color: rgba(0,0,0,0.6);
                                        font-size: 11px;
                                        font-weight: 600;
                                        margin-top: 0;
                                        margin-bottom: 0;
                                    }
                                    .money {
                                        position: absolute;
                                        top: 0;
                                        right: 0;
                                        color: #1AAB88;
                                        font-size: 11px;
                                        font-weight: 600;
                                        & > span {
                                            margin-left: 4px;
                                            color: #14F2BD;
                                        }
                                    }
                                }
                                .middle {
                                    text-align: center;
                                    & > h4 {
                                        font-family: 'Open Sans', sans-serif;
                                        font-size: 18px;
                                        font-weight: 400;
                                        margin-bottom: 0;
                                    }
                                    & > p {
                                        display: block;
                                        font-family: 'Open Sans', sans-serif;
                                        font-size: 13px;
                                        font-weight: 400;
                                        margin-top: 0;
                                        margin-bottom: 0;
                                        &.text-red {
                                            font-size: 13px;
                                            color: #F21422;
                                            margin-top: 4px;
                                            margin-bottom: 10px;
                                        }
                                        &.tel {
                                            margin-top: 20px;
                                        }
                                        &.email {
                                            padding-bottom: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    & > .bottom {
                        position: relative;
                        margin-top: 40px;
                        & > .bottom-bg {
                            display: block;
                            position: fixed;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 512px;
                            overflow: hidden;
                            user-select: none;
                            pointer-events: none;
                            & > .bg-gradient {
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                width: 100%;
                                height: 512px;
                                background: radial-gradient(126.42% 126.42% at 50% 100%, #FFFFFF 36.46%, rgba(255, 255, 255, 0) 70.31%);
                            }
                            & > .ellipse {
                                position: absolute;
                                width: 445.44px;
                                height: 598.8px;
                                filter: blur(204px);
                                // &.red {
                                //     bottom: -400px;
                                //     left: calc(50% - (445px / 2));
                                //     // right: calc(154px - 650px);
                                //     background: rgba(242, 20, 34, 0.8);
                                //     filter: blur(144px);
                                // }
                                &.pink {
                                    bottom: -500px;
                                    left: calc(50% - (445px / 2));
                                    background: #F437A9;
                                    opacity: 0.7;
                                }
                                // &.blue {
                                //     top: 455.95px;
                                //     // left: 861px;
                                //     right: calc(579px - 650px);
                                //     background: #1A3BB0;
                                // }
                                &.green {
                                    bottom: -500px;
                                    left: calc(60% - (445px / 2));
                                    background: #14F2BD;
                                    filter: blur(224px);
                                }
                            }
                            & > .box {
                                position: absolute;
                                margin-bottom: 0;
                                text-align: center;
                                bottom: 70px;
                                pointer-events: all;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1450px) {
    body .main-container .container .top .box .list .cards-box {
        .card {
            width: 30%;
        }
    }
}