body .main-container {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}

body .main-container .container {
  width: 100%;
}

body .main-container .container .top {
  min-width: 50%;
}

body .main-container .container .top .box {
  display: inline-block;
  max-width: 320px;
  margin-right: 100px;
}

body .main-container .container .top .box .list {
  display: inline-block;
  width: 100%;
}

body .main-container .container .top .box .list h4 {
  font-family: 'Dela Gothic One', cursive;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 20px;
}

body .main-container .container .top .box .list .cards-box {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 194px;
}

body .main-container .container .top .box .list .cards-box:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 87px;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}

body .main-container .container .top .box .list .cards-box.history .card .right > p {
  font-size: 15px;
}

body .main-container .container .top .box .list .cards-box .card {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

body .main-container .container .top .box .list .cards-box .card:last-child {
  border-bottom: 0;
}

body .main-container .container .top .box .list .cards-box .card .left > h6 {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
}

body .main-container .container .top .box .list .cards-box .card .left > span {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  padding-top: 4px;
}

body .main-container .container .top .box .list .cards-box .card .right {
  display: inline-flex;
  align-items: center;
}

body .main-container .container .top .box .list .cards-box .card .right > p {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 8px;
}

body .main-container .container .top .box > .bottom {
  margin-top: 40px;
}

body .main-container .container .bottom#surveyPayments {
  margin-top: 100px;
  margin-bottom: 80px;
}

body .main-container .main-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  z-index: -1;
}

body .main-container .main-bg > .ellipse {
  position: absolute;
  width: 445.44px;
  height: 598.8px;
  filter: blur(204px);
}

body .main-container .main-bg > .ellipse.red {
  top: 278.9px;
  right: calc(154px - 550px);
  background: rgba(242, 20, 34, 0.8);
  filter: blur(144px);
}

body .main-container .main-bg > .ellipse.pink {
  top: 300px;
  right: calc(448px - 550px);
  background: #F437A9;
  opacity: 0.7;
}

body .main-container .main-bg > .ellipse.blue {
  top: 455.95px;
  right: calc(579px - 550px);
  background: #1A3BB0;
  opacity: 0.5;
}

body .main-container .main-bg > .ellipse.green {
  top: 434.36px;
  right: calc(240px - 550px);
  background: #14F2BD;
  filter: blur(224px);
}
