body {
    .main-container {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        box-sizing: border-box;
        .container {
            width: 100%;
            .top {
                min-width: 50%;
                .box {
                    display: inline-block;
                    max-width: 320px;
                    margin-right: 100px;
                    .list {
                        display: inline-block;
                        width: 100%;
                        h4 {
                            font-family: 'Dela Gothic One', cursive;
                            font-size: 16px;
                            font-weight: 400;
                            margin-top: 0px;
                            margin-bottom: 20px;
                        }
                        .cards-box {
                            position: relative;
                            display: inline-block;
                            width: 100%;
                            min-height: 194px;
                            &:after {
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 87px;
                                left: 0;
                                bottom: 0;
                                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
                            }
                            &.history {
                                .card {
                                    .right {
                                        & > p {
                                            font-size: 15px;
                                        }
                                    }
                                }
                            }
                            .card {
                                display: inline-flex;
                                width: 100%;
                                align-items: center;
                                justify-content: space-between;
                                padding: 8px 0;
                                border-bottom: 1px solid rgba(0,0,0,0.1);
                                &:last-child {
                                    border-bottom: 0;
                                }
                                .left {
                                    & > h6 {
                                        display: inline-block;
                                        font-family: 'Open Sans', sans-serif;
                                        font-size: 16px;
                                        font-weight: 400;
                                        margin-top: 0px;
                                        margin-bottom: 0px;
                                    }
                                    & > span {
                                        display: block;
                                        font-family: 'Open Sans', sans-serif;
                                        font-size: 11px;
                                        padding-top: 4px;
                                    }
                                }
                                .right {
                                    display: inline-flex;
                                    align-items: center;
                                    & > p {
                                        display: inline-block;
                                        font-family: 'Open Sans', sans-serif;
                                        font-size: 13px;
                                        font-weight: 600;
                                        margin-top: 0;
                                        margin-bottom: 0;
                                        margin-right: 8px;
                                    }
                                }
                            }
                        }
                    }
                    & > .bottom {
                        margin-top: 40px
                    }
                }
            }
            .bottom {
                &#surveyPayments {
                    margin-top: 100px;
                    margin-bottom: 80px;
                }
            }
        }
        .main-bg {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            user-select: none;
            z-index: -1;
            & > .ellipse {
                position: absolute;
                width: 445.44px;
                height: 598.8px;
                filter: blur(204px);
                &.red {
                    top: 278.9px;
                    // left: 1286.09px;
                    right: calc(154px - 550px);
                    background: rgba(242, 20, 34, 0.8);
                    filter: blur(144px);
                }
                &.pink {
                    // top: 122px;
                    top: 300px;
                    // left: 992.7px;
                    right: calc(448px - 550px);
                    background: #F437A9;
                    opacity: 0.7;
                }
                &.blue {
                    top: 455.95px;
                    // left: 861px;
                    right: calc(579px - 550px);
                    background: #1A3BB0;
                    opacity: 0.5;
                }
                &.green {
                    top: 434.36px;
                    // left: 1201.5px;
                    right: calc(240px - 550px);
                    background: #14F2BD;
                    filter: blur(224px);
                }
            }
        }
    }
}