body {
    .main-container {
        .container {
            display: relative;
            display: flex;
            width: 50%;
            justify-content: center;
            & > .center {
                position: absolute;
                top: calc(46% - 290px/2);
                // left: calc(50% - 330px/2);
                // left: calc(18% - 330px/2);
                left: 120px;
                width: 100%;
                max-width: 330px;
                & > .box {
                    & > h4 {
                        font-family: 'Dela Gothic One', cursive;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        text-align: center;
                        margin-bottom: 30px;
                    }
                    .bottom {
                        & > .btn {
                            padding: 10px 20px;
                        }
                    }
                }
            }
        }
        .main-bg {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            user-select: none;
            z-index: -1;
            & > .login-bg {
                position: absolute;
                right: 0;
                bottom: 0;
                & > .gradient {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    bottom: 0;
                    // opacity: 0.5;
                    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 94.79%);
                }
            }
            & > .ellipse {
                position: absolute;
                width: 445.44px;
                height: 598.8px;
                filter: blur(204px);
                &.red {
                    top: 278.9px;
                    // left: 1286.09px;
                    right: calc(154px - 350px);
                    background: rgba(242, 20, 34, 0.8);
                    filter: blur(144px);
                }
                &.pink {
                    // top: 122px;
                    top: 300px;
                    // left: 992.7px;
                    right: calc(448px - 350px);
                    background: #F437A9;
                    opacity: 0.7;
                }
                &.blue {
                    top: 455.95px;
                    // left: 861px;
                    right: calc(579px - 350px);
                    background: #1A3BB0;
                }
                &.green {
                    top: 434.36px;
                    // left: 1201.5px;
                    right: calc(240px - 350px);
                    background: #14F2BD;
                    filter: blur(224px);
                }
            }
        }
    }
}