body .main-container .container {
  display: relative;
  display: flex;
  width: 50%;
  justify-content: center;
}

body .main-container .container > .center {
  position: absolute;
  top: calc(46% - 290px/2);
  left: 120px;
  width: 100%;
  max-width: 330px;
}

body .main-container .container > .center > .box > h4 {
  font-family: 'Dela Gothic One', cursive;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 30px;
}

body .main-container .container > .center > .box .bottom > .btn {
  padding: 10px 20px;
}

body .main-container .main-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  z-index: -1;
}

body .main-container .main-bg > .login-bg {
  position: absolute;
  right: 0;
  bottom: 0;
}

body .main-container .main-bg > .login-bg > .gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 94.79%);
}

body .main-container .main-bg > .ellipse {
  position: absolute;
  width: 445.44px;
  height: 598.8px;
  filter: blur(204px);
}

body .main-container .main-bg > .ellipse.red {
  top: 278.9px;
  right: calc(154px - 350px);
  background: rgba(242, 20, 34, 0.8);
  filter: blur(144px);
}

body .main-container .main-bg > .ellipse.pink {
  top: 300px;
  right: calc(448px - 350px);
  background: #F437A9;
  opacity: 0.7;
}

body .main-container .main-bg > .ellipse.blue {
  top: 455.95px;
  right: calc(579px - 350px);
  background: #1A3BB0;
}

body .main-container .main-bg > .ellipse.green {
  top: 434.36px;
  right: calc(240px - 350px);
  background: #14F2BD;
  filter: blur(224px);
}
