@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("~assets/fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("~assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~assets/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("~assets/fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("~assets/fonts/OpenSans-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("~assets/fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("~assets/fonts/OpenSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("~assets/fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/DelaGothicOne-Regular.ttf") format("truetype");
}

* {
  font-family: 'Open Sans', sans-serif;
}

span.circle {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #FFF;
}

span.circle.red {
  background-color: #F21422;
}

span.circle.green {
  background-color: #14F2BD;
}

.btn {
  display: inline-block;
  font-family: 'Dela Gothic One', cursive;
  font-weight: 400;
  font-size: 12px;
  padding: 38px 68px;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn.btn-primary {
  background-color: #1A3BB0;
  color: #FFF;
}

.btn.btn-primary.btn-negative, .btn.btn-primary.btn-outline {
  background-color: transparent;
  color: #1A3BB0;
}

.btn.btn-primary.btn-outline {
  border: 2px solid #1A3BB0;
}

.btn.btn-secondary {
  background-color: #000;
  color: #FFF;
}

.btn.btn-secondary.btn-negative, .btn.btn-secondary.btn-outline {
  background-color: transparent;
  color: #000;
}

.btn.btn-secondary.btn-outline {
  border: 1px solid #000;
}

.btn.btn-green {
  background-color: #1AAB88;
  color: #FFF;
}

.btn.btn-green.btn-negative, .btn.btn-green.btn-outline {
  background-color: transparent;
  color: #1AAB88;
}

.btn.btn-green.btn-outline {
  border: 1px solid #1AAB88;
}

.btn.btn-green.btn-small {
  font-size: 11px;
  padding: 8px 6px;
  font-weight: 100;
}

.btn.btn-red {
  background-color: #F21422;
  color: #FFF;
}

.btn.btn-red.btn-negative, .btn.btn-red.btn-outline {
  background-color: transparent;
  color: #F21422;
}

.btn.btn-red.btn-outline {
  border: 1px solid #F21422;
}

.btn.btn-red.btn-small {
  font-size: 11px;
  padding: 8px 6px;
  font-weight: 100;
}

body header {
  display: block;
  width: calc(100% - 80px);
  margin-top: 26px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

body header .logo > a > h1 {
  font-family: 'Dela Gothic One', cursive;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

body header .left {
  display: inline-block;
}

body header .right {
  display: inline-flex;
  float: right;
}

body header .right .notify-icon {
  position: relative;
  margin-right: 60px;
}

body header .right .notify-icon.new-notifications:after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #F21422;
  position: absolute;
  top: 1px;
  right: -2px;
}

body header .right nav ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body header .right nav ul li {
  display: inline-block;
  margin-right: 20px;
  font-weight: 600;
  font-size: 14px;
  color: #000;
}

body header .right nav ul li:last-child {
  margin-right: 0;
}

body header .right nav ul li a:hover {
  text-decoration: underline;
}

body header .right nav ul li.active a {
  text-decoration: underline;
}

body .main-container {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}

body .main-container .container {
  width: 100%;
}

.form-control {
  position: relative;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 24px;
}

.form-control ::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form-control > label {
  font-size: 12px;
  font-weight: 700;
  padding-left: 2px;
}

.form-control > .form-input {
  width: 100%;
  border: 0;
  display: block;
  outline: none;
  font-size: 18px;
  background-color: transparent;
}
