.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    z-index: -1;
    &.active {
        display: block;
        opacity: 1;
        width: 100%;
        height: 100vh;
        z-index: 1;
        transition: opacity 0.2s linear;
        & > .modal-box {
            transform: translateY(0) !important;
        }
    }
    & > .modal-box {
        position: absolute;
        top: 140px;
        left: calc(50% - 600px/2);
        width: 640px;
        max-height: 700px;
        // overflow-x: auto;
        border-radius: 6px;
        background-color: #FFF;
        text-align: center;
        transform: translateY(-40px);
        transition: transform 0.4s cubic-bezier(0.42, 0, 0.01, 0.99);
        & > .profile-box {
            padding-top: 20px;
            & > .active {
                display: block !important;
            }
            & > div {
                & > .options-box {
                    width: 90%;
                    display: inline-flex;
                    justify-content: space-between;
                    & > span {
                        font-family: 'Dela Gothic One', cursive;
                        font-weight: 400;
                        font-size: 9px;
                        line-height: 12px;
                        cursor: pointer;
                    }
                }
                & > span {
                    font-family: 'Dela Gothic One', cursive;
                    font-weight: 400;
                    font-size: 9px;
                    line-height: 12px;
                    cursor: pointer;
                }
                & > .mini-box {
                    padding-bottom: 16px;
                    & > label {
                        font-family: 'Open sans', sans-serif;
                        font-weight: 700;
                        font-size: 8px;
                    }
                }
            }
            & > .profile-view {
                display: none;
                & > h3 {
                    font-family: 'Dela Gothic One', cursive;
                    font-weight: 400;
                    font-size: 34px;
                    line-height: 48px;
                    margin-top: 16px;
                    margin-bottom: 10px;
                }
                & > .mini-box {
                    & > p {
                        font-family: 'Open sans', sans-serif;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        margin: 0;
                    }
                }
            }
            & > .profile-edit {
                display: none;
                & > .name-box {
                    display: block;
                    margin-top: 16px;
                    margin-bottom: 10px;
                    input {
                        font-family: 'Dela Gothic One', cursive;
                        font-weight: 400;
                        font-size: 34px;
                        line-height: 48px;
                        width: 90%;
                        text-align: center;
                    }
                }
                & > .mini-box {
                    & > .email-box,
                    & > .tel-box {
                        & > input {
                            width: 60%;
                            font-family: 'Open sans', sans-serif;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                            margin: 0;
                        }
                    }
                    & > .tel-box {
                        & > input {
                            width: 40%;
                        }
                    }
                }
            }
        }
        & > .payments-box {
            & > .list {
                & > h4 {
                    font-family: 'Open sans', sans-serif;
                    font-weight: 700;
                    font-size: 11px;
                    line-height: 11px;
                    margin-bottom: 30px;
                }
                ::-webkit-scrollbar {
                    width: 0;  /* Remove scrollbar space */
                    background: transparent;  /* Optional: just make scrollbar invisible */
                }
                & > .cards-box {
                    &.payments-history {
                        width: 100%;
                        text-align: center;
                        // margin-left: -24px;
                        overflow-x: auto;
                        max-height: 318px;
                        padding-bottom: 42px;
                        box-sizing: border-box;
                        &.admin-user {
                            margin-left: 0;
                            & > .card {
                                max-width: 70%;
                            }
                        }
                        & > .card {
                            display: flex;
                            width: 100%;
                            max-width: 320px;
                            margin: 0 auto;
                            align-items: center;
                            justify-content: space-between;
                            padding: 14px 0;
                            border-bottom: 1px solid rgba(0,0,0,0.1);
                            &:last-child {
                                border-bottom: 0;
                            }
                            &.new {
                                max-width: 80%;
                                input,
                                select {
                                    width: 130px;
                                }
                            }
                            & > p {
                                margin: 0;
                                font-family: 'Open sans', sans-serif;
                                font-weight: 400;
                                font-size: 12px;
                            }
                        }
                    }
                }
                & > .bottom {
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 87px;
                        left: 0;
                        top: -87px;
                        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
                        pointer-events: none;
                    }
                }
            }
        }
    }
}