.notify-container {
    display: none;
    opacity: 0;
    z-index: -1;
    position: absolute;
    width: 300px;
    height: 300px;
    max-height: 300px;
    top: 60px;
    right: 345px;
    &.active {
        display: inline-block;
        opacity: 1;
        z-index: 2;
    }
    & > .notify-box {
        border-radius: 6px;
        width: 100%;
        height: 100%;
        background-color: #FFF;
        box-shadow: 0px 15px 24px rgba(0, 0, 0, 0.1);
        ::-webkit-scrollbar {
            width: 0;  /* Remove scrollbar space */
            background: transparent;  /* Optional: just make scrollbar invisible */
        }
        & > .box {
            max-height: calc(300px - 38px);
            overflow-x: auto;
            & > .card {
                padding: 18px 22px;
                &:first-child {
                    border-radius: 6px 6px 0px 0px;
                }
                &.new {
                    background-color: rgba(242, 20, 34, 0.08);
                }
                & > p {
                    line-height: 20px;
                    font-size: 15px;
                    margin: 0;
                }
                & > span {
                    display: block;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 400;
                    font-size: 13px;
                    color: rgba(0,0,0,0.6);
                }
            }
        }
        & > .footer {
            position: absolute;
            bottom: 0;
            text-align: center;
            width: 100%;
            font-weight: 400;
            font-size: 13px;
            background-color: #FFF;
            padding: 10px 0;
            border-radius: 0px 0px 6px 6px;
        }
    }
}