body {
  margin: 0;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.none {
  display: none !important;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover, a:visited, a:focus {
  text-decoration: none;
}
