<template>
<div>
    <div class="container">
        <div class="top">
            <div class="box">
                <div class="form-control-custom">
                    <input type="text" class="form-search" id="inputSearch" @keyup="filterClientes()" placeholder="Escribe en cualquier momento para buscar un cliente...">
                    <fa-icon icon="search" />
                </div>
            </div>
            <div class="box">
                <div class="list">
                    <div id="peopleCardsBox" class="cards-box">
						<div class="card" v-for="(item, index) in items" :key="index" @click="openModal(item)" :data-key-search="item.nombre">
                            <div class="top">
                                <p v-if="item.ult_dia_pago == 'N/A'">Último pago: {{item.ult_dia_pago}}</p>
                                <p v-if="item.ult_dia_pago != 'N/A'">Último pago: {{item.ult_dia_pago}} de {{item.ult_mes_pago}}</p>
                                <span class="money" v-if="item.ult_dia_pago != 'N/A'">{{item.ult_monto_pago}} k<span><fa-icon icon="money-bill-wave" /></span></span>
                            </div>
                            <div class="middle">
                                <h4 class="text-capitalize">{{item.nombre}}</h4>
                                <p class="tel">{{item.celular}}</p>
                                <p class="email">{{item.email}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="bottom-bg">
                        <div class="bg-gradient"></div>
                        <div class="ellipse pink"></div>
                        <div class="ellipse green"></div>
                        <div class="box">
                            <a href="#" @click.prevent="openModal('new')" class="btn btn-secondary btn-outline">Registrar nuevo cliente <fa-icon icon="arrow-right" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <Modal ref="modal" />
</div>
</template>

<script>
export default {
  data() {
	  return {
		  meses: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
		  items: []
	  }
  },
  created() {
    this.$nuxt.$on('reaload-clientes', this.reloadClientes);
  },
  fetch() {
    this.reloadClientes();
  },
  methods: {
    openModal(item) {
        this.$refs.modal.openModal(item);
    },
    preProccessingClients(items) {
        for (let i = 0; i < items.length; i++) {
            const current = items[i];
            current['ult_dia_pago'] = "N/A";
            current['ult_mes_pago'] = "N/A";
            current['ult_monto_pago'] = "N/A";
            if(current['ult_pagos'] != undefined) {
                if(current['ult_pagos'].length > 0) {
                    current['ult_dia_pago'] = current['ult_pagos'][0].dia_pago;
                    current['ult_mes_pago'] = this.meses[current['ult_pagos'][0].mes_pago];
                    current['ult_monto_pago'] = current['ult_pagos'][0].monto;
                }
            }
        }
        return items;
    },
    reloadClientes() {
        this.$axios.get('clientes').then((res) => {
            if(res.data.status == "success") {
                this.items = this.preProccessingClients(res.data.data);
            }
        }).catch((error) => {
            console.error(error);
        });
    },
    filterClientes() {
        const input = document.getElementById('inputSearch');
        const filter = input.value.toLowerCase();
        const cards = document.getElementById("peopleCardsBox").children;

        // Loop through all list items, and hide those who don't match the search query
        for (let i = 0; i < cards.length; i++) {
            const current = cards[i];
            const txtValue = current.textContent || current.innerText;
            if (txtValue.toLowerCase().indexOf(filter) > -1) {
                current.style.display = "";
            } else {
                current.style.display = "none";
            }
        }
    }
  }
}
</script>

<style scoped>
@import '@/assets/scss/cliente.min.css';
.btn.btn-small {
    width: 32px;
}
.ml-2 {
    margin-left: 5px;
}
</style>