<template>
  <div>
    <div class="main-bg">
        <div class="ellipse red"></div>
        <div class="ellipse pink"></div>
        <div class="ellipse blue"></div>
        <div class="ellipse green"></div>
    </div>
    <div class="container">
        <div class="top">
            <div class="box">
                <div class="list">
                    <h4>Clientes</h4>
                    <div class="cards-box">
                        <div class="card" v-for="(item, index) in clientes" :key="index">
                            <div class="left">
                                <h6 class="text-capitalize">{{item.nombre}}</h6>
                            </div>
                            <div class="right">
                                <p v-if="item.pago_retrasado">No ha pagado</p>
                                <span class="circle" :class="{ 'red': item.pago_retrasado, 'green': !item.pago_retrasado }"></span>
                            </div>
                        </div>
                    </div>
                    <div class="bottom text-center">
                        <NuxtLink to="/clientes" class="btn btn-primary btn-negative">Ver todos <fa-icon icon="arrow-right" /></NuxtLink>
                    </div>
                </div>
                <div class="bottom">
                    <NuxtLink to="/clientes" class="btn btn-primary">Registrar nuevo cliente <fa-icon icon="arrow-right" /></NuxtLink>
                </div>
            </div>
            <div class="box">
                <div class="list">
                    <h4>Historial de pagos</h4>
                    <div class="cards-box history">
                        <div class="card" v-for="(item, index) in pagos" :key="index">
                            <div class="left">
                                <h6 class="text-capitalize">{{item.cliente[0].nombre}}</h6>
                                <span>Hace {{item.dias_ult_pago}} días</span>
                            </div>
                            <div class="right">
                                <p>{{item.monto}}k</p>
                            </div>
                        </div>
                    </div>
                    <div class="bottom text-center">
                        <a href="#" class="btn btn-primary btn-negative">Ver todos <fa-icon icon="arrow-right" /></a>
                    </div>
                </div>
                <div class="bottom">
                    <NuxtLink to="/clientes" class="btn btn-primary btn-outline">Registrar nuevo pago <fa-icon icon="arrow-right" /></NuxtLink>
                </div>
            </div>
        </div>
        <div id="surveyPayments" class="bottom">
            <div class="box">
                <h4>Resumen de pagos</h4>
                <div class="graph-box">
                    <chart-pagos :height="200" />
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
    data() {
	  return {
		  clientes: [],
          pagos: []
	  }
  },
  fetch() {
    this.$axios.get('clientes/list/few').then((res) => {
        if(res.data.status == "success") {
            this.clientes = res.data.data;
        }
    }).catch((error) => {
        console.error(error);
    });

    this.$axios.get('pagos/list/few').then((res) => {
        if(res.data.status == "success") {
            this.pagos = this.preProccessingPayments(res.data.data);
        }
    }).catch((error) => {
        console.error(error);
    });
  },
  methods: {
      preProccessingPayments(arr) {
        for (let i = 0; i < arr.length; i++) {
            const current = arr[i];
            current['fecha_pago'] = [current.anio_pago, this.toStrMaxLen(current.mes_pago), this.toStrMaxLen(current.dia_pago)];
            const date = new Date(current['fecha_pago'][0] + "/" + current['fecha_pago'][1] + "/" + current['fecha_pago'][2]);
            const diffDays = Math.ceil(Math.abs(new Date() - date) / (1000 * 60 * 60 * 24)) - 1;
            current['fecha_pago'] = current['fecha_pago'].join('-');
            current['dias_ult_pago'] = (diffDays > 60) ? "60+" : diffDays;
        }
        return arr;
      },
      toStrMaxLen(val, len=2) {
        val = val + "";
        while(val.length < len)
            val = "0" + val;
        return val;
      }
  },
}
</script>

<style scoped>
@import '@/assets/scss/home.min.css';
</style>