<template>
  <div>
    <div class="main-bg">
        <div class="login-bg">
            <div class="gradient"></div>
            <img src="@/assets/img/login-bg.png" alt="">
        </div>
        <div class="ellipse red"></div>
        <div class="ellipse pink"></div>
        <div class="ellipse blue"></div>
        <div class="ellipse green"></div>
    </div>
    <div class="container">
        <div class="center">
            <div class="box">
                <h4 class="text-uppercase">Inicia sesión</h4>
                <form action="#">
                    <div class="form-control">
                        <label for="email">Email</label>
                        <input type="email" name="email" v-model="email" class="form-input" placeholder="Escribe tu email" required>
                    </div>
                    <div class="form-control">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" v-model="password" class="form-input" placeholder="Escribe tu contraseña" required>
                    </div>
                    <div class="bottom text-center">
                        <a href="#" class="btn btn-primary btn-negative" @click.prevent="login()">Continuar -></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
    layout: 'login',
    data() {
        return {
            email: "srobles.andres@gmail.com",
            password: "1"
        }
    },
    methods: {
        login() {
            let data = {
                'email': this.email,
                'clave': this.password
            };
            if(!this.$validValues.valid(data))
                return;
            this.$axios.post('login', data).then((res) => {
                if(res.data.status == "success") {
                    this.$cookies.set('gym_authRol', res.data.data.rol, {
                        path: '/',
                        maxAge: 60 * 60 * 24 * 7
                    });
                    this.$cookies.set('gym_authToken', res.data.data.token, {
                        path: '/',
                        maxAge: 60 * 60 * 24 * 7
                    });
                    this.$router.replace('clientes');
                }
            }).catch((error) => {
                console.error(error);
            });
        }
    }
}
</script>

<style scoped>
@import '@/assets/scss/login.min.css';
</style>