<template>
<div>
    <div class="container">
        <div class="top">
            <div class="box">
                <table>
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Fecha</th>
                            <th>Monto</th>
                            <th>Días pagados</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in items" :key="index">
                            <td class="text-capitalize">{{item.cliente.nombre}}</td>
                            <td>{{item.fecha}}</td>
                            <td>{{item.monto}} K</td>
                            <td>{{item.dias}} días</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box">
                <div class="bottom">
                    <div class="bottom-bg">
                        <div class="bg-gradient"></div>
                        <div class="ellipse pink"></div>
                        <div class="ellipse green"></div>
                        <div class="box">
                            <a href="#" @click.prevent="exportExcel()" class="btn btn-secondary btn-outline">Exportar excel <fa-icon icon="file-excel" class="ml-2" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
  data() {
	  return {
		  items: []
	  }
  },
  fetch() {
    this.reloadPagos();
  },
  methods: {
    preProccessingPagos(arr) {
        for (let i = 0; i < arr.length; i++) {
            const current = arr[i];
            current['fecha'] = current['anio_pago'] + '-' + this.toStrMaxLen(current['mes_pago']) + '-' + this.toStrMaxLen(current['dia_pago']);
            current['cliente'] = current['cliente'][0];
        }
        return arr;
    },
    reloadPagos() {
        this.$axios.get('pagos').then((res) => {
            if(res.data.status == "success") {
                this.items = this.preProccessingPagos(res.data.data);
            }
        }).catch((error) => {
            console.error(error);
        });
    },
    toStrMaxLen(val, len=2) {
        val = val + "";
        while(val.length < len)
            val = "0" + val;
        return val;
    },
    exportExcel() {
        this.$axios.get('pagos/download').then(async (res) => {
            if(res.status == 200) {
                let blob = new Blob(["\ufeff", res.data]);
                let link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                const now = new Date();
                const fecha = now.getFullYear() + "_" + (now.getMonth()+1) + "_" + now.getDate();
                link.download = "pagos_"+fecha+".csv";
                link.click();
            }
        }).catch((error) => {
            console.error(error);
        });
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/cliente.min.css';
.btn.btn-small {
    width: 32px;
}
.ml-2 {
    margin-left: 5px;
}
body .main-container .container .top {
    .box {
        display: flex;
        justify-content: center;
        table {
            border: 1px solid #828282;
            border-radius: 5px;
            padding: 10px;
            thead {
                tr {
                    // border-bottom: 1px solid #828282;
                    th {
                        text-align: left;
                    }
                }
            }
            tbody {
                tr {
                    margin-bottom: 5px;
                    &:nth-child(2n) {
                        background-color: #efefef;
                    }
                    td {
                        width: 200px;
                    }
                }
            }
        }
    }
}
</style>