<script>
import { Line } from 'vue-chartjs';

export default {
  extends: Line,
  data() {
    return {
		  meses: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
      chartData: {
        labels: [],
        datasets: [
          {
            label: 'Ingresos',
            data: [],
            borderColor: '#003f5c',
            backgroundColor: "transparent"
          },
        ]
      },
      chartOptions: {
        maintainAspectRatio: true,
        responsive: true,
        legend: {
          display: false
        },
        tooltips: {
          backgroundColor: '#17BF62'
        },
        scales: {
          xAxes: [
            {
              gridLines: {
                display: true
              }
            }
          ],
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
                callback: function(value, index, values) {
                  return '$ ' + value + ' k';
                }
              },
              gridLines: {
                display: false
              }
            }
          ]
        }
      }
    }
  },
  mounted() {
    this.$axios.get('pagos/chart').then((res) => {
        if(res.data.status == "success") {
            let val = 0;
            const month = new Date().getMonth();
            for (let i = 0; i <= month; i++) {
                this.chartData.labels.push(this.meses[i]);
                const found = res.data.data.find(element => element._id == i+1);
                val = 0;
                if(found != undefined) {
                  val = found.number;
                }
                console.log(found);
                this.chartData.datasets[0].data.push(val);
            }
            this.renderChart(this.chartData, this.chartOptions);
        }
    }).catch((error) => {
        console.error(error);
    });
  }
}
</script>

<style scoped>
canvas {
  max-width: 1000px !important;
}
</style>