<template>
  <header>
      <div class="left" :class="{'w100': !withNavBar}">
        <div class="logo">
          <NuxtLink to="/">
            <!-- <img src="img/logo.png" alt=""> -->
            <h1>Tribu</h1>
          </NuxtLink>
        </div>
      </div>
      <div class="right" v-if="withNavBar">
        <a href="#" class="notify-icon" id="notifyBoxTrigger" @click.stop="notifyBoxTriggerClick()"><fa-icon icon="bell" /></a>
        <nav class="main-menu" id="mainMenu">
          <ul>
            <li data-page="index" class="active"><NuxtLink to="/">Inicio</NuxtLink></li>
            <li data-page="clientes"><NuxtLink to="/clientes">Clientes</NuxtLink></li>
            <li data-page="pagos"><NuxtLink to="/pagos">Historial</NuxtLink></li>
            <li><a href="#" @click.prevent="logout()">Salir <fa-icon icon="sign-out-alt" /></a></li>
          </ul>
        </nav>
      </div>
    </header>
</template>

<script>
export default {
  props: {
    withNavBar: Boolean,
    default: true
  },
  watch: {
    $route() {
      const children = document.getElementById('mainMenu').children[0].children;
      for (let i = 0; i < children.length; i++) {
        children[i].classList.remove('active');
        if(this.$route.name == children[i].getAttribute('data-page'))
          children[i].classList.add('active');
      }
    }
  },
  methods: {
    notifyBoxTriggerClick() {
      this.$nuxt.$emit('notifyContainer-toggle');
    },
    logout() {
      this.$cookies.remove('gym_authToken');
      this.$router.replace('login');
    }
  }
}
</script>

<style scoped>
@import '@/assets/scss/notify-box.min.css';
.w100 {
  width: 100%;
}
</style>