<template>
    <div id="loading" :class="{'active': show}">
        <div class="dots">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
</template>

<script>
export default {
  data() {
      return {
          show: false
      }
  },
  created() {
    this.$nuxt.$on('loading-show', this.setShow);
    this.$nuxt.$on('loading-hide', this.setHide);
  },
  methods: {
    setShow() {
      this.show = true;
      document.querySelector('body').style.overflow = 'hidden';
    },
    setHide() {
      this.show = false;
      document.querySelector('body').style.overflow = '';
    }
  }
}
</script>

<style lang="scss">
#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0,0,0,0.3);
    z-index: 1000;
    &.active {
        display: block;
    }
    .dots {
        position: absolute;
        top: calc(50% - (25px/2));
        left: calc(50% - (25px*3/2));
        .dot {
            display: inline-block;
            background-color: #414b65;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            animation-name: scale;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            &:nth-child(2n) {
                animation-delay: 0.5s;
            }
        }
    }
}

@keyframes scale {
  0% {transform: scale(0.8);}
  50% {transform: scale(1.2);}
  100% {transform: scale(0.8);}
}
</style>