<template>
    <div class="modal" :class="{'active': show}" @click.stop="closeModal()">
        <div class="modal-box" @click.stop="">
            <div class="profile-box">
                <div class="profile-view" :class="{'active': !isEditCliente}">
                    <span @click="setEditCliente(true)">Editar información <fa-icon icon="edit" class="ml-2" /></span>
                    <h3 class="text-capitalize">{{cliente.nombre}}</h3>
                    <div class="mini-box">
                        <label for="email">Email</label>
                        <p>{{cliente.email}}</p>
                    </div>
                    <div class="mini-box">
                        <label for="tel">Número de teléfono</label>
                        <p>{{cliente.celular}}</p>
                    </div>
                </div>
                <div class="profile-edit" :class="{'active': isEditCliente}">
                    <div class="options-box">
                        <span class="text-red" @click="setEditCliente(false)"><fa-icon icon="times" class="mr-2" /> Cancelar</span>
                        <span v-if="isAdmin && !isNewCliente" class="text-red" @click="deleteCliente()"><fa-icon icon="trash" class="mr-2" /> ELIMINAR <fa-icon icon="trash" class="ml-2" /></span>
                        <span class="text-blue" @click="updateCliente()">Guardar información <fa-icon icon="save" class="ml-2" /></span>
                    </div>
                    <div class="name-box">
                        <input name="name" type="text" class="text-capitalize" v-model="newCliente.nombre" placeholder="Nombre Apellido">
                    </div>
                    <div class="mini-box">
                        <label for="email">Email</label>
                        <div class="email-box">
                            <input name="email" type="email" class="text-center" v-model="newCliente.email" placeholder="mail@mail.com">
                        </div>
                    </div>
                    <div class="mini-box">
                        <label for="tel">Número de teléfono</label>
                        <div class="tel-box">
                            <input name="tel" type="tel" class="text-center" v-model="newCliente.celular" placeholder="30003749256">
                        </div>
                    </div>
                </div>
            </div>
            <div class="payments-box" v-if="!isNewCliente">
                <div class="list">
                    <h4>Últimos pagos <fa-icon icon="money-bill-wave" class="ml-2" /></h4>
                    <!-- <div class="cards-box payments-history admin-user"> -->
                    <div class="cards-box payments-history">
                        <div class="card new" v-if="newCardOn">
                            <div class="inline-block">
                                <label for="date">Fecha de Pago</label>
                                <input name="date" type="date" id="inputDate" min="2020-01-01" v-model="newCard.fecha_pago" class="text-center">
                            </div>
                            <div class="inline-block">
                                <label for="date">Días a pagar</label>
                                <select name="days" v-model="newCard.dias">
                                    <option value="1">1</option>
                                    <option value="7">7</option>
                                    <option value="15">15</option>
                                    <option value="30" selected>30</option>
                                    <option value="60">60</option>
                                    <option value="90">90</option>
                                </select>
                            </div>
                            <div class="inline-block">
                                <label for="date">Monto (miles)</label>
                                <input name="payment" type="tel" v-model="newCard.monto" class="text-center" placeholder="Cantidad en miles">
                            </div>
                            <a href="#" class="btn btn-green btn-small" @click.prevent="saveNewCard()"><fa-icon icon="save" /></a>
                        </div>
                        <div class="card" v-for="(pago, index) in pagos" :key="index" :data-id="index">
                            <p :class="{'new-animation': newCardSuccess && index == 0}">Hace {{pago.dias_ult_pago}} días</p>
                            <p :class="{'new-animation': newCardSuccess && index == 0}">{{pago.fecha_pago}}</p>
                            <p :class="{'new-animation': newCardSuccess && index == 0}">{{pago.dias}} días</p>
                            <p :class="{'new-animation': newCardSuccess && index == 0}">{{pago.monto}} K</p>
                            <a href="#" v-if="isAdmin" @click.prevent="loadDelete(index)" class="btn btn-red btn-small"><fa-icon icon="trash" /><span>Confirmar</span></a>
                        </div>
                        <!-- <div class="card">
                            <p>Hace 4 días</p>
                            <p>20/04/2021</p>
                            <p>27 K</p>
                            <a href="#" class="btn btn-red btn-small"><fa-icon icon="trash" /></a>
                        </div> -->
                    </div>
                    <div class="bottom text-center">
                        <a href="#" @click.prevent="setNewCardOn()" class="btn btn-green btn-negative">Registrar nuevo pago <fa-icon icon="money-bill-wave" class="ml-2" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data() {
	  return {
          cliente: {},
          newCliente: {},
          show: false,
		  meses: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
		  pagos: [],
          newCardOn: false,
          newCard: {
              "fecha_pago": "",
              "monto": "",
              "dias": 30
          },
          newCardSuccess: false,
          isAdmin: this.$cookies.get('gym_authRol') == 'admin',
          isNewCliente: false,
          isEditCliente: false
	  }
  },
  methods: {
      openModal(item) {
        this.show = true;
        this.setCliente(item);
        this.getPagos();
      },
      closeModal() {
        this.show = false;
        this.newCardSuccess = false;
        this.removeActiveDelete();
        this.$nuxt.$emit('reaload-clientes');
      },
      setCliente(data) {
        if(data == 'new') {
            this.cliente = {
                nombre: "",
                email: "",
                celular: ""
            }
            this.isNewCliente = true;
            this.isEditCliente = true;
            this.newCliente = JSON.parse(JSON.stringify(this.cliente));
        } else
            this.cliente = data;
      },
      getPagos() {
        this.$axios.get('clientes/'+this.cliente._id+'/pagos').then((res) => {
            if(res.data.status == "success") {
                if(res.data.data[0] != undefined) {
                    this.pagos = res.data.data[0].pagos;
                    this.preProccessingPayments(this.pagos);
                }
            }
        }).catch((error) => {
            console.error(error);
        });
      },
      preProccessingPayments(arr) {
        for (let i = 0; i < arr.length; i++) {
            const current = arr[i];
            current['fecha_pago'] = [current.anio_pago, this.toStrMaxLen(current.mes_pago), this.toStrMaxLen(current.dia_pago)];
            const date = new Date(current['fecha_pago'][0] + "/" + current['fecha_pago'][1] + "/" + current['fecha_pago'][2]);
            const diffDays = Math.ceil(Math.abs(new Date() - date) / (1000 * 60 * 60 * 24)) - 1;
            current['fecha_pago'] = current['fecha_pago'].join('-');
            current['dias_ult_pago'] = (diffDays > 60) ? "60+" : diffDays;
        }
      },
      toStrMaxLen(val, len=2) {
        val = val + "";
        while(val.length < len)
            val = "0" + val;
        return val;
      },
      setNewCardOn() {
        document.getElementsByClassName("payments-history")[0].scrollTop = 0;
        if(!this.newCardOn) {
          this.$nuxt.$emit("loading-show");
          this.newCardOn = true;
          setTimeout(function() {
            document.getElementById('inputDate').max = new Date().toISOString().split("T")[0];
            this.$nuxt.$emit("loading-hide");
          }, 800);
        }
      },
      setNewCardOff() {
        this.newCardOn = false;
        this.newCard.monto = "";
        this.newCard.fecha_pago = "";
      },
      saveNewCard() {
        if(!this.validNewCard())
            return;
        
        this.$axios.post('clientes/'+this.cliente._id+'/pagos', this.newCard).then((res) => {
            // console.log(res);
            if(res.data.status == "success") {
                let newPayment = [res.data.data];
                this.preProccessingPayments(newPayment);
                this.newCardSuccess = true;
                this.pagos.unshift(newPayment[0]);
                this.setNewCardOff();
            }
        }).catch((error) => {
            console.error(error);
        });
      },
      validNewCard() {
          if(!this.$validValues.valid(this.newCard))
            return;
          if(isNaN(this.newCard.monto)) {
            this.notify("Por favor ingresar un número válido en monto");
            return false;
          }
          if(this.newCard.monto < 0 || this.newCard.monto >= 1000) {
            this.notify("Por favor ingresar un monto entre 0 y 999 (miles)");
            return false;
          }
          if(isNaN(this.newCard.dias)) {
            this.notify("Por favor ingresar un número válido en dias");
            return false;
          }
          if(this.newCard.dias < 1 || this.newCard.dias > 90) {
            this.notify("Por favor ingresar dias entre 1 y 90 (miles)");
            return false;
          }
          this.newCard.monto = parseInt(this.newCard.monto);
          this.newCard.dias = parseInt(this.newCard.dias);
          return true;
      },
      loadDelete(index) {
        let elem = document.querySelector('[data-id="'+index+'"]').lastChild;
        if(elem.classList.contains('active')) {
            this.deleteCard(index);
        } else {
            elem.classList.add('active');
        }
      },
      deleteCard(index) {
        this.$axios.delete('clientes/'+this.cliente._id+'/pagos/'+this.pagos[index]._id).then((res) => {
            // console.log(res);
            if(res.data.status == "success") {
                this.pagos.splice(index, 1);
                this.removeActiveDelete();
            }
        }).catch((error) => {
            console.error(error);
        });
      },
      removeActiveDelete() {
        if(this.isAdmin && !this.isNewCliente) {
            let cards = document.getElementsByClassName("payments-history")[0].children;
            for (let i = 0; i < cards.length; i++) {
                cards[i].lastChild.classList.remove('active');
            }
            this.setNewCardOff();
        }
        this.isNewCliente = false;
        this.isEditCliente = false;
      },
      setEditCliente(flag) {
          this.isEditCliente = flag;
          if(flag)
            this.newCliente = JSON.parse(JSON.stringify(this.cliente));
          else
            this.newCliente = {};
      },
      validCliente() {
          const keep = ['nombre', 'email', 'celular'];
          let newCliente = {};
          for (let i = 0; i < keep.length; i++) {
              newCliente[keep[i]] = this.newCliente[keep[i]];
          }
          this.newCliente = newCliente;
          if(!this.$validValues.valid(this.newCliente))
            return;
          if(isNaN(this.newCliente.celular)) {
            this.notify("Por favor ingresar un celular válido");
            return false;
          }
          if(this.newCliente.celular.length != 10) {
            this.notify("Por favor ingresar un celular válido (10 dígitos sin espacios)");
            return false;
          }
          if(!(/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/.test(this.newCliente.email))) {
            this.notify("Por favor ingresar un email válido");
            return false;
          }
          return true;
      },
      updateCliente() {
        if(!this.validCliente())
            return;
        
        if(this.isNewCliente) {
            this.$axios.post('clientes/', this.newCliente).then((res) => {
                if(res.data.status == "success") {
                    this.cliente = res.data.data;
                    this.isNewCliente = false;
                    this.isEditCliente = false;
                }
            }).catch((error) => {
                console.error(error);
            });
        } else {
            this.$axios.put('clientes/'+this.cliente._id, this.newCliente).then((res) => {
                if(res.data.status == "success") {
                    this.cliente = res.data.data;
                    this.isNewCliente = false;
                    this.isEditCliente = false;
                }
            }).catch((error) => {
                console.error(error);
            });
        }
      },
      deleteCliente() {
        this.$axios.delete('clientes/'+this.cliente._id).then((res) => {
            // console.log(res);
            if(res.data.status == "success") {
                this.closeModal();
            }
        }).catch((error) => {
            console.error(error);
        });
      },
      notify(msg) {
        this.$nuxt.$notify({
            'group': 'main-notifications',
            'type': 'warn',
            'title': "Atención",
            'text': msg
        });
      }
  }
}
</script>

<style scoped>
@import '@/assets/scss/modal.min.css';
.btn.btn-small {
    min-width: 45px;
}
.btn.btn-small > span {
    display: none;
    font-weight: bold;
}
.btn.btn-small.active > svg {
    display: none;
}
.btn.btn-small.active > span {
    display: block;
}
.mr-2 {
    margin-right: 5px;
}
.ml-2 {
    margin-left: 5px;
}
.text-red {
    color: #f04750;
}
.text-blue {
    color: #1A3BB0;
}
.new-animation {
    animation-name: new-animation-anim;
    animation-duration: 0.5s;
    animation-iteration-count: 3;
}

@keyframes new-animation-anim {
  0% {opacity: 1;}
  50% {opacity: 0.2;}
  100% {opacity: 1;}
}
</style>