<template>
  <div id="notifyContainer" class="notify-container" :class="{'active': show}" @click.stop="" v-click-outside="setHide">
      <div class="notify-box">
          <div class="box">
              <div class="card" :class="{ 'new': !item.leido }" v-for="(item, index) in items" :key="index">
                  <p><span class="text-bold text-capitalize">{{item.nombre}}</span> está retrasado {{item.dias_retrasados}} días</p>
                  <span>hace {{item.hace_dias}} días</span>
              </div>
          </div>
          <div class="footer">
              <a href="#" @click.prevent="setAllViewed()">Marcar como leidas <fa-icon icon="eye" /></a>
          </div>
      </div>
  </div>
</template>

<script>
export default {
  data() {
      return {
          show: false,
		  items: [],
      }
  },
  created() {
    this.$nuxt.$on('notifyContainer-toggle', this.toggleShow);
  },
  fetch() {
    this.reloadNotificaciones();
  },
  methods: {
    setAllViewed() {
      this.$axios.get('notificaciones/set/viewed').then((res) => {
        if(res.data.status == "success") {
            this.reloadNotificaciones();
            this.$nuxt.$notify({
                'group': 'main-notifications',
                'type': 'success',
                'title': "Acción terminada",
                'text': "Notificaciones actualizadas con éxito"
            });
        }
    }).catch((error) => {
        console.error(error);
    });
    },
    setShow() {
        this.show = true;
    },
    setHide() {
        this.show = false;
    },
    toggleShow() {
        this.show = !this.show;
    },
    preProccessingNotificaciones(arr) {
        for (let i = 0; i < arr.length; i++) {
            const current = arr[i];
            current['fecha'] = current['fecha'].split('-');
            const date = new Date(current['fecha'][0] + "/" + current['fecha'][1] + "/" + current['fecha'][2]);
            const diffDays = Math.ceil(Math.abs(new Date() - date) / (1000 * 60 * 60 * 24)) - 1;
            current['dias_retrasados'] = (diffDays > 60) ? "60+" : diffDays;
            current['created_at'] = current['created_at'].split('T')[0].split('-');
            const date2 = new Date(current['created_at'][0] + "/" + current['created_at'][1] + "/" + current['created_at'][2]);
            const diffDays2 = Math.ceil(Math.abs(new Date() - date2) / (1000 * 60 * 60 * 24)) - 1;
            current['hace_dias'] = (diffDays2 > 60) ? "60+" : diffDays2;
        }
        return arr;
    },
    reloadNotificaciones() {
        this.$axios.get('notificaciones/').then((res) => {
            if(res.data.status == "success") {
                this.items = this.preProccessingNotificaciones(res.data.data);
            }
        }).catch((error) => {
            console.error(error);
        });
    }
  },
}
</script>

<style scoped>
@import '@/assets/scss/notify-box.min.css';
</style>