<template>
  <client-only>
    <div>
      <Header :withNavBar="true" />
      <div class="main-container">
        <Nuxt />
      </div>
      <NotifyContainer />
      <notifications group="main-notifications" animation-type="velocity" :duration="Number(4000)" />
      <Loading />
    </div>
  </client-only>
</template>

<script>
export default {
  middleware: 'auth'
}
</script>