<template>
  <client-only>
    <div>
      <Header :withNavBar="false" />
      <div class="main-container">
        <Nuxt />
      </div>
      <notifications group="main-notifications" animation-type="velocity" :duration="Number(4000)" />
      <Loading />
    </div>
  </client-only>
</template>

<style>
.vue-notification-group {
  top: 20px !important;
  right: 10px !important;
}
</style>